*{
      margin:0;
      padding:0;
      box-sizing:border-box;
      font-family: Arial, sans-serif;
    }

    body{
      background:#000;
      color:white;
    }
    nav{
      width:100%;
      height:80px;
      background:#111;
      display:flex;
      justify-content:space-between;
      align-items:center;
      padding:0 8%;
    }

    .logo{
      font-size:42px;
      font-weight:bold;
      color:#ff4d6d;
    }

    nav ul{
      display:flex;
      list-style:none;
      gap:35px;
    }

    nav ul li a{
      text-decoration:none;
      color:white;
      font-size:18px;
      transition:0.3s;
    }

    nav ul li a:hover{
      color:#ff4d6d;
    }

    /* Contact Section */
    .contact-section{
      min-height:90vh;
      display:flex;
      justify-content:center;
      align-items:center;
      padding:50px 8%;
      gap:60px;
    }

    .contact-text{
      flex:1;
    }

    .contact-text h1{
      font-size:70px;
      margin-bottom:20px;
      line-height:1.1;
    }

    .contact-text span{
      color:#ff4d6d;
    }

    .contact-text p{
      font-size:20px;
      color:#ccc;
      line-height:1.7;
      margin-bottom:30px;
      max-width:500px;
    }

    .info{
      margin-top:20px;
    }

    .info p{
      margin:12px 0;
      font-size:18px;
      color:#eee;
    }
    .contact-form{
      flex:1;
      background:#111;
      padding:40px;
      border-radius:20px;
      box-shadow:0 0 20px rgba(255,77,109,0.2);
    }

    .contact-form h2{
      margin-bottom:25px;
      color:#ff4d6d;
      font-size:35px;
    }

    .input-box{
      margin-bottom:20px;
    }

    .input-box input,
    .input-box textarea{
      width:100%;
      padding:15px;
      border:none;
      outline:none;
      border-radius:10px;
      background:#222;
      color:white;
      font-size:16px;
    }

    .input-box textarea{
      height:150px;
      resize:none;
    }

    .btn{
      width:100%;
      padding:15px;
      border:none;
      border-radius:50px;
      background:#ff4d6d;
      color:white;
      font-size:18px;
      font-weight:bold;
      cursor:pointer;
      transition:0.3s;
      box-shadow:0 0 15px rgba(255,77,109,0.5);
    }

    .btn:hover{
      background:#ff1f4b;
      transform:scale(1.03);
    }
    @media(max-width:900px){

      .contact-section{
        flex-direction:column;
      }

      .contact-text h1{
        font-size:50px;
      }

      nav{
        flex-direction:column;
        height:auto;
        padding:20px;
      }

      nav ul{
        margin-top:15px;
      }
    }