*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0f0f0f;
color:white;
overflow-x:hidden;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);
position:sticky;
top:0;
z-index:1000;
}

.logo{
display:flex;
align-items:center;
gap:10px;
font-size:28px;
font-weight:700;
color:#ff4d6d;
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

nav ul li a{
text-decoration:none;
color:white;
font-weight:500;
transition:0.3s;
}

nav ul li a:hover{
color:#ff4d6d;
}

.categories{
display:flex;
justify-content:center;
align-items:center;
background:rgba(255,255,255,0.05);
backdrop-filter:blur(5px);
position:sticky;
top:80px;
z-index:999;
}

.categories ul{
display:flex;
gap:300px;
padding:20px 8%;
list-style:none;
}

.categories ul li a{
text-decoration:none;
color:white;
font-weight:600;
font-size:18px;
transition:0.3s;
}

.categories ul li a:hover{
color:#ff4d6d;
}

.shop-banner{
width:100%;
height:300px;
background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
text-align:center;
}

.shop-banner h1{
font-size:70px;
color:#fff;
letter-spacing:2px;
}

.shop-banner p{
margin-top:10px;
color:#ccc;
font-size:18px;
}

.products{
padding:40px 70px 70px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
}

.card{
background:#0d0d0d;
border-radius:18px;
overflow:hidden;
transition:0.4s;
border:1px solid #151515;
}

.card:hover{
transform:translateY(-10px);
box-shadow:0 0 20px rgba(255,0,0,0.3);
}

.card img{
width:100%;
height:220px;
object-fit:cover;
background:#111;
}

.card-content{
padding:20px;
}

.card-content h3{
font-size:22px;
margin-bottom:10px;
}

.price{
color:#ff1e1e;
font-size:24px;
font-weight:bold;
margin-bottom:10px;
}

.rating{
color:gold;
margin-bottom:15px;
}

.btn{
width:100%;
padding:12px;
border:none;
background:#ff1e1e;
color:white;
border-radius:8px;
font-size:16px;
cursor:pointer;
transition:0.3s;
}

.btn:hover{
background:white;
color:black;
}

/* FOOTER */
footer{
background:#050505;
padding:30px;
text-align:center;
border-top:1px solid #111;
color:#888;
}
    /* RESPONSIVE */
@media(max-width:768px){

.navbar{
padding:20px;
flex-direction:column;
gap:20px;
}

.nav-links{
flex-wrap:wrap;
justify-content:center;
}

.shop-banner h1{
font-size:45px;
}

.products{
padding:30px 20px;
}
}